---
import Banner from '../components/Banner.astro';
import Footer from '../components/Footer.astro';
import HeadCommon from '../components/HeadCommon.astro';
import Intro from '../components/Intro.astro';
import Nav from '../components/Nav.astro';
import PortfolioScroll from '../components/PortfolioScroll.astro';
---
<!doctype html>
<html lang="en">
	<head>
		<HeadCommon />
	</head>
	<body>
		<Banner />
		<Intro />
		<Nav />
		<PortfolioScroll />
		<Footer />
	</body>
</html>
