---
import { Content } from '../content/intro.md';
---

<div class="wrapper">
	<img width="600" height="828" class="illo" src="/assets/images/brooks-illo.png" alt="Illustration of Brooks Chambers’ face" />
	<div class="content">
		<Content />
	</div>
</div>

<style lang="scss">
	@use '../tokens' as *;

	.wrapper {
		align-items: center;
		display: grid;
		gap: 5rem;
		grid-template-columns: 1fr 3fr;
		margin-left: auto;
		margin-right: auto;
		min-height: 30rem;
		max-width: 52rem;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}

	.illo {
	}

	.content {
		:global(p) {
			@include typography('typography.longform');
		}
	}
</style>
