---
import Intercom from './Intercom.astro';
import Loom from './Loom.astro';
import Mode from './Mode.astro';
import Personal from './Personal.astro';
---

<section id="mode" class="portfolio-section">
  <Mode />
</section>

<section id="loom" class="portfolio-section">
	<Loom />
</section>

<section id="intercom" class="portfolio-section">
	<Intercom />
</section>

<section id="personal" class="portfolio-section">
	<Personal />
</section>

<style lang="scss">
	@use 'sass:math';
	@use '../tokens' as *;

	.portfolio-section {
		display: flex;
		flex-direction: column;

		> :global(*) {
			width: 100%;
		}
	}
</style>
