---
export interface Props {
	split?: string;
}

const { split = '1fr 1fr' } = Astro.props;
---

<div class="wrapper" style={`--split: ${split}`}>
	<slot />
</div>

<style lang="scss">
	.wrapper {
		grid-template-columns: var(--split);

		@media (min-width: 600px) {
			display: grid;

			> :global(*) {
				height: 100%;
				max-width: none;
				object-fit: cover;
				width: 100%;
			}
		}
	}
</style>
