---
export interface Props {
	split?: string;
}

const { split = '1fr 1fr' } = Astro.props;
---

<div class="wrapper" style={`--split: ${split}`}>
	<slot />
</div>

<style lang="scss">
	.wrapper {
		display: grid;
		grid-template-columns: var(--split);


		> :global(*) {
			height: 100%;
			max-width: none;
			object-fit: cover;
			width: 100%;
		}
	}
</style>
